$colorBalck: #21252D;
$colorWhite: #D8DADF;
$colorGray: #E6E8EC;
$colorDeepGray: rgb(190, 190, 190);
$colorOldGray: #979fad;

$colorRed: #EC2525;
$colorHoverGray: #vEFF1F5;
$colorShadow: 0 0 20px rgba(88, 88, 88, 0.1);
$colorFooderGray: #A7A9AC;
$colorDetailGray: #778294;